@model IEnumerable<KingBakery.Models.OrderItem>
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- icon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("Header");
    <!-- Header part end-->
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Giỏ hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Bánh</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Xoá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double subtotal = 0;
                            }
                            @foreach (var item in Model)
                            {
                                string bakeryName = "";
                                @foreach (var bakery in (IEnumerable<KingBakery.Models.Bakery>)ViewData["Bakery"])
                                {
                                    if (bakery != null && bakery.ID == item.BakeryOption.BakeryID)
                                    {
                                        bakeryName = bakery.Name;
                                        break;
                                    }
                                }
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="/img/arrivel/arrivel_1.png" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <h4>@bakeryName (Size: @item.BakeryOption.Size cm)</h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@($"{item.Price.ToString("#,##0")}đ")</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                            <input class="input-number" type="text" value="@item.Quantity" min="1" max="10">
                                            <span class="input-number-increment"> <i class="ti-plus"></i></span>
                                        </div>
                                    </td>
                                    @{
                                        var total = item.Price * item.Quantity;
                                        subtotal += total;
                                    }
                                    <td>
                                        <h5>@($"{total.ToString("#,##0")}đ")</h5>
                                        
                                    </td>
                                    <td>
                                        <a asp-controller="OrderItems" asp-action="DeleteItem" asp-route-id="@item.ID" style="color:slategrey;">
                                            <i class="ti-trash" style="font-size:20px;"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                            <tr class="bottom_button">
                                <td>
                                    <a class="btn_1" href="#">Cập nhật giỏ hàng</a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h4>Tổng tiền: </h4>
                                </td>
                                <td>
                                    <h4>@($"{subtotal.ToString("#,##0")}đ")</h4>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" asp-controller="Home" asp-action="ProductList">Tiếp tục mua hàng</a>
                        <a class="btn_1 checkout_btn_1" href="#">Mua ngay</a>
                    </div>
                </div>
            </div>
    </section>
    <!--================End Cart Area =================-->
    <!--::footer_part start::-->
    @await Component.InvokeAsync("Footer");
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
</body>

</html>


@* @model IEnumerable<KingBakery.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BakeryOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BakeryOption.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
