<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css//styletk.css" />
    <style>

    </style>
</head>

<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("Header")
    <!-- Header part end-->
    <!--================Bill Area =================-->
    <section class="checkout_area" style="padding: 50px 0;">
        <div class="container">
            <div style="text-align: center; margin-top: 20px;">
                <a href="/Home/Index" class="btn btn-primary">Quay lại trang chủ</a>
            </div>
            <table class="table" style="font-family:Arial">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.ID != 0)
                        {
                            <tr>
                                <th scope="row">@item.ID</th>
                                @{
                                    double? price = item.TotalPrice;
                                    string formattedPrice = price.HasValue ? price.Value.ToString("#,##0") + "đ" : "N/A";
                                }
                                <td>@formattedPrice</td>
                                <td>@item.DateTime</td>
                                <td style="position:relative;">
                                    <p style="color:white; background-color:red; font-weight:bold; position:absolute; padding:auto 5px;
                                              border:none; border-radius:4px;text-align:center; width:80%; height:40px; display:flex;align-items:center;">
                                        <span style="width:100%;text-align:center;" id="stt_@item.ID">@item.Status</span>
                                    </p>
                                </td>
                                @if (item.Status == "Đã đặt hàng")
                                {
                                    <td style="width:150px;text-align:center;">
                                        <button class="btn btn-primary assign-shipper-btn"
                                            onclick="acceptOrder(@item.ID)">Chấp nhận</button>
                                    </td>
                                    <td style="width:150px;text-align:center;">
                                        <button class="btn btn-primary assign-shipper-btn"
                                            onclick="rejectOrder(@item.ID)">Từ chối</button>
                                    </td>
                                }
                                else
                                {
                                    <td colspan="2" style="text-align:center;">
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!--================End Bill Area =================-->
    <!--::footer_part start::-->
    @await Component.InvokeAsync("Footer")
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function acceptOrder(orderId) {
            $.ajax({
                url: '/Shippers/Accept',
                method: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    if (response.success) {
                        $('#stt_' + orderId).text('Đang giao hàng');
                        Swal.fire({
                            icon: 'success',
                            title: 'Chấp nhận đơn hàng thành công',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                                                                      location.reload();
                                                                  });;
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Đã xảy ra lỗi',
                            text: 'Không thể chấp nhận đơn hàng.',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đã xảy ra lỗi',
                        text: 'Đã xảy ra lỗi khi gọi API.',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }

        function rejectOrder(orderId) {
            $.ajax({
                url: '/Shippers/Reject',
                method: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    if (response.success) {
                        $('#stt_' + orderId).text('Đã từ chối');
                        Swal.fire({
                            icon: 'success',
                            title: 'Từ chối đơn hàng thành công',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                                                                      location.reload();
                                                                  });;
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Đã xảy ra lỗi',
                            text: 'Không thể từ chối đơn hàng.',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đã xảy ra lỗi',
                        text: 'Đã xảy ra lỗi khi gọi API.',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }
    </script>
</body>

</html>
