@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Bakery>
<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Danh sách sản phẩm</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("Header");
    <!-- Header part end-->
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>product list</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                        <form id="searchForm">
                            <input type="text" name="keyword" id="keyword" placeholder="Search keyword">
                            <select id="categoryID" name="categoryID">
                                <option value="">Chọn danh mục</option>
                                @foreach (var category in (IEnumerable<KingBakery.Models.Category>)ViewData["Categories"])
                                {
                                    <option value="@category.ID">@category.Name</option>
                                }
                            </select>
                            <select name="priceRange" id="priceRange">
                                <option value="">Select Price Range</option>
                                <option value="0-100000">0 - 100,000đ</option>
                                <option value="100000-200000">100,000đ - 200,000đ</option>
                                <option value="200000-500000">200,000đ - 500,000đ</option>
                                <option value="500000+">500,000đ+</option>
                            </select>
                            <input type="hidden" name="page" id="page" value="1">
                            <button type="button" onclick="searchByName()">Search</button>
                        </form>
                        @{
                            var bestSeller = ViewData["bestseller"] as dynamic;
                            var newestProduct = ViewData["newestProduct"] as dynamic;
                        }
                        @if (bestSeller != null)
                        {
                            <a asp-controller="Bakeries" asp-action="Details" asp-route-id="@bestSeller.BakeryID" class="btn btn-primary" style="margin-top:16px">
                                Best Seller
                            </a>

                            <br />
                        }
                        @if (newestProduct != null)
                        {
                            <a asp-controller="Bakeries" asp-action="Details" asp-route-id="@newestProduct.ID" class="btn btn-primary" style="margin-top:8px">
                                Newest Backery
                            </a>
                        }
                    </div>
                </div>


                <div class="col-md-8">

                    <div class="product_list" id="product">
                        <div class="row">
                            @foreach (var bakery in Model)
                            {
                                var minPrice = bakery.BakeryOptions.Any() ? bakery.BakeryOptions.Min(bo => bo.Price) : 0;
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_item">
                                        <img style="width:90%;height:300px;" src="@bakery.Image" alt="#" class="img-fluid">
                                        <h3 style="color:black; font-weight:bold">
                                            <a asp-controller="Bakeries" asp-action="Details" asp-route-id="@bakery.ID">
                                                @bakery.Name
                                            </a>
                                        </h3>
                                        <p>@($"Price: {minPrice.ToString("#,##0")}đ")</p>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page = page }),
                             new PagedListRenderOptions()
                    {
                        LiElementClasses = new List<String> { "page-item" },
                        PageClasses = new List<String> { "page-link" }
                    }
                             )
                </div>



    </section>
    <!-- product list part end-->
    <!--::footer_part start::-->
    @await Component.InvokeAsync("Footer")
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <script>
        function searchByName() {
            var form = document.getElementById("searchForm");
            var formData = new FormData(form);

            var queryString = new URLSearchParams(formData).toString();
            fetch(`/Bakeries/Index?${queryString}`, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById("product").innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>