@model IEnumerable<KingBakery.Models.Vouchers>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css//styletk.css" />
    <style>

    </style>
</head>

<body>
    <!--================Users Area =================-->
    <section class="checkout_area">
        <div class="row" style="padding-left: 30px;padding-right: 30px;">
            <div style="margin-bottom:16px">
                <a asp-action="Create" class="genric-btn success-border radius">Create Voucher</a>
            </div>

            <table class="table" style="font-family:Arial">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">VPercent</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Code</td>
                            <td>@item.VPercent</td>
                            <td>@item.Quantity</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>



                            <td style="text-align:center;">
                                <a asp-action="Edit" asp-route-id="@item.VoucherID" class="genric-btn success-border radius">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.VoucherID" class="genric-btn info-border radius">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.VoucherID" class="genric-btn danger-border radius">Delete</a>
                            </td>



                        </tr>
                    }


                </tbody>
            </table>

        </div>
    </section>
    <!--================End Bill Area =================-->
    <script>
        console.log(1);
    </script>
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/orders.js"></script>
    <script>
        console.log(2);
    </script>
</body>

</html>
@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VPercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VPercent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
