@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Bakery>


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Manage";
}

<h1>Manage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
               Tên sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Phân loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bakery in Model)
        {
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => @bakery.Name)
                </td>
                <td>
                    <img style="width:90%;height:300px;" src="@bakery.Image" alt="#" class="img-fluid">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @bakery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @bakery.Category.ID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=" @bakery.ID">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.ID">Details</a> | *@
                    <a asp-action="Delete" asp-route-id=" @bakery.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("Manage",new {page=page}),
     new PagedListRenderOptions()
{
LiElementClasses = new List<String>{"page-item"},
    PageClasses = new List<String>{"page-link"}
}
)

