@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div class="blog-post">
    <img src="@Model.Image" alt="@Model.Title" class="img-fluid">
    <p class="blog-post-meta">@Model.PublishedDate by @Model.Author</p>

    <p>@Html.Raw(Model.Content)</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>