@model KingBakery.Models.BakeryOption
@using System.Security.Claims
<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thông tin bánh</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detail.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="/css/detail.css" />
    <style>
        .swal2-popup {
            top: 12% !important; /* Example to move it down from the top */
            right: 0% !important; /* Center the modal */
        }

        .card {
            position: relative;
            background-color: #30344c;
            padding: 1em;
            z-index: 5;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            max-width: 300px;
            transition: 200ms ease-in-out;
        }

        .username {
            color: #C6E1ED;
            font-size: 0.85em;
            font-weight: 600;
        }

        .body {
            display: flex;
            flex-direction: column;
        }

            .body .text {
                margin: 0 10px 0 0;
                white-space: pre-line;
                color: #c0c3d7;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 4px;
            }

        .footer {
            position: relative;
            width: 100%;
            color: #9fa4aa;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            margin-top: 10px;
        }

            .footer div {
                margin-right: 1rem;
                height: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .footer svg {
                margin-right: 5px;
                height: 100%;
                stroke: #9fa4aa;
            }

        .viewer span {
            height: 20px;
            width: 20px;
            background-color: rgb(28, 117, 219);
            margin-right: -6px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: grid;
            align-items: center;
            text-align: center;
            font-weight: bold;
            font-size: 8px;
            color: #fff;
            padding: 2px;
        }

            .viewer span svg {
                stroke: #fff;
            }

        #favo:hover {
            background-color: white;
        }
    </style>
</head>

<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("Header");
    <!-- Header part end-->
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part single_product_breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="product_img_slide owl-carousel">
                        <div class="single_product_img">
                            <img src="@Model.Bakery?.Image" alt="#" class="img-fluid">
                        </div>
                        <div class="single_product_img">
                            <img src="@Model.Bakery?.Image" alt="#" class="img-fluid">
                        </div>
                        <div class="single_product_img">
                            <img src="@Model.Bakery?.Image" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <h3>
                            @Model.Bakery?.Name
                        </h3>

                        <p class="sizepart">Kích cỡ của bánh:</p>
                        @foreach (var option in (IEnumerable<KingBakery.Models.BakeryOption>)ViewData["BakeryOptions"])
                        {

                            if (option.ID == Model.ID)
                            {
                                <a asp-controller="BakeryOptions" asp-action="Details" asp-route-id="@option.ID"
                                   class="size_option active">
                                    @option.Size cm
                                </a>
                            }
                            else
                            {
                                <a asp-controller="BakeryOptions" asp-action="Details" asp-route-id="@option.ID"
                                   class="size_option">
                                    @option.Size cm
                                </a>
                            }

                        }
                        <p>
                            @Model.Bakery?.Description
                        </p>
                        <div class="card_area">
                            <div class="product_count_area">
                                <p>Còn @Model.Quantity bánh</p>
                                <div class="product_count d-inline-block" style="background-color:transparent">
                                    <span class="product_count_item inumber-decrement" onclick="decreaseQuantity()"><i class="ti-minus"></i></span>
                                    <input class="qq product_count_item" type="text" name="quantity" id="quantity" value="1" min="1" max="@Model.Quantity">
                                    <span class="product_count_item number-increment" onclick="increaseQuantity()"> <i class="ti-plus"></i></span>

                                    <script type="text/javascript">
                                        var maxQuantity = @Model.Quantity;
                                    </script>
                                </div>
                                <p>Giá: @($"{@Model.Price.ToString("#,##0")}đ")</p>
                            </div>
                            @{
                                var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                var userRole = User.FindFirstValue(ClaimTypes.Role);
                            }
                            @if (userId != null)
                            {
                                @if (userRole != "2")
                                {
                                    <div class="add_to_cart">
                                        <button type="submit" class="btn_3" disabled>Thêm vào giỏ hàng</button>
                                    </div>
                                    <p style="color:red;font-style:italic">Đăng nhập bằng tài khoản khách hàng để mua hàng.</p>
                                }
                                else
                                {
                                    <div class="add_to_cart">
                                        <button type="button" class="atc btn_3" data-id="@Model.ID">Thêm vào giỏ hàng</button>
                                    </div>

                                    <div class="favourite_product">
                                        @if (ViewBag.fav == null)
                                        {
                                            <form asp-controller="Favourites" asp-action="Create" asp-route-id="@Model.ID" asp-route-id_pro="@Model.Bakery.ID">
                                                <button type="submit" style="border:solid 1px brown;margin-top:10px;border-radius:8px;padding-top:5px;" id="favo"><ion-icon style="font-size: xx-large; color: red;" name="heart-outline"></ion-icon></button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-controller="Favourites" asp-action="Delete" asp-route-id="@ViewBag.fav.ID" asp-route-id_pro="@Model.ID" method="post">
                                                <button type="submit" style="border:solid 1px brown;margin-top:10px;border-radius:8px;padding-top:5px;" id="favo"><ion-icon style="font-size: xx-large; color: red;" name="heart"></ion-icon></button>
                                            </form>
                                        }
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="add_to_cart">
                                    <button type="submit" class="btn_3" disabled>Thêm vào giỏ hàng</button>
                                </div>
                                <p style="color:red;font-style:italic">Vui lòng đăng nhập để mua hàng.</p>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center;border: brown 2px solid;border-radius:10px;padding:30px;">
                <h2>Đánh giá</h2>
                @{
                    var fbs = (IEnumerable<KingBakery.Models.Feedback>)ViewData["Feedbacks"];
                }
                <div style="margin:10px 0;">
                    @if (fbs != null)
                    {
                        int i = 0;
                        @foreach (var feedback in fbs)
                        {
                            i++;

                            <div class="card col-lg-4" style="display:inline-block;margin:10px 20px;">

                                <div class="body" style="padding-bottom:27px;">
                                    <p class="text">@feedback.ContentFB</p><span class="username">@feedback.Customer?.Users.FullName</span>

                                    <div class="footer" style="position:absolute;bottom:12px;">


                                        <div class="viewer" style="display:flex; justify-content:space-around; width:100%;">
                                            @feedback.Time
                                            <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-width="2" stroke="#ffffff" d="M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z"></path> <path stroke-linecap="round" stroke-width="2" stroke="#ffffff" d="M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21"></path> </g></svg></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (i % 3 == 0)
                            {
                                <br>
                            }
                        }
                    }
                    else
                    {
                        <h3 style="text-align:center;color:lightpink;font-family:Arial;font-style:italic;">Chưa có đánh giá nào.</h3>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    <!--::footer_part start::-->
    @await Component.InvokeAsync("Footer");
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <script src="/js/quantitybt.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/noti.addtocart.js"></script>
</body>

</html>