@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model KingBakery.Models.Users

<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    <!--================User Area =================-->
    <section class="confirmation_part" style="padding-bottom:70px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4 style="font-family:Arial;font-weight:bold;">Thông tin khách hàng</h4>
                        <ul>
                            <li style="padding-left: 40%;">
                                <p>Tên khách hàng</p><span>: @Model.FullName</span>
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Tên đăng nhập</p><span>: @Model.Username</span>
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Địa chỉ</p><span>: @Model.Address</span>
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Ngày sinh</p><span>: @Model.BirthDate</span>
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Email</p><span>: @Model.Email</span>
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Số điện thoại</p><span>: @Model.PhoneNumber</span>
                            </li>
                            
                            <li style="padding-left: 40%;">
                                <p>Vai trò</p>
                                @switch (Model.Role)
                                {
                                    case 1:
                                        <span>: Admin</span>
                                        break;
                                    case 2:
                                        <span>: Khách hàng</span>
                                        break;
                                    case 3:
                                        <span>: Nhân viên</span>
                                        break;
                                    case 4:
                                        <span>: Shipper</span>
                                        break;
                                    default:
                                        <span>: N/A</span>
                                        break;
                                }
                            </li>
                            <li style="padding-left: 40%;">
                                <p>Tình trạng tài khoản</p>
                                @if (Model.IsBanned == 0)
                                {
                                    <span>: Hoạt động</span>
                                }
                                @if (Model.IsBanned == 1)
                                {
                                    <span>: Bị cấm</span>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-right: 30px;">
                    <a asp-controller="Users" asp-action="Index" class="btn_3">Trở lại</a>
                </div>
            </div>
        </div>
    </section>
    <!--================End Bill Area =================-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
</body>

</html>